{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Howie Benefiel">
    <meta name="keywords" content="Recipes, Food, Adventure, Travel, Dogs, Climbing, Bouldering, Healthy">
    <meta name="description" content="Emily's blog for all things you want">
    
    <title>{% block head_title %}Gimme That{% endblock head_title %}</title>

    <link rel="shortcut icon" type="image/ico" href='{% static "img/favicon.ico" %}' />

    {% include "bootstrap_css.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/base.css" %}' />
    <style>
        {% block style %}{% endblock style%}
    </style>

    {# Properties for facebook open graph stuff #}
    <meta property="og:type"             content="website"/>
    <meta property="og:title"            content="GimmeThat"/>
    <meta property="og:description"      content="Emily's GimmeThat Blog"/>
    {% block og_properties %}{% endblock og_properties %}

</head>

<body>

    {% include "messages_display.html" %}

    <div class='container'>
        {% block content %}

        {% endblock content%}
    </div>

    {# TODO: Figure out how to properly import js scripts. #}
    {% include "3rd_party_js.html" %}
    
</body>

</html>
