{% load staticfiles %}
<!--DOCTYPE html -->
<html>

<head>
    <title>{% block head_title %}Gimme That{% endblock head_title %}</title>
    <link rel="shortcut icon" type="image/ico" href='{% static "img/favicon.ico" %}' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> 
    <link rel='stylesheet' type='text/css' href='{% static "css/base.css" %}' />
    <style>
        {% block style %}{% endblock style%}
    </style>

    {# Properties for facebook open graph stuff #}
    <meta property="og:type"             content="website"/>
    <meta property="og:title"            content="GimmeThat"/>
    <meta property="og:description"     content="Emily's GimmeThat Blog"/>
    {% block og_properties %}{% endblock og_properties %}

    {#  Google+ button script. Place this tag in your head or just before your close body tag. Script for +1 button #}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {# Twiiter button script #}
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> 
</head>

<body>

{% include "messages_display.html" %}

<div class='container'>
{% block content %}

{% endblock content%}

{# facebook like button script #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{# pintrest script #}
<script async defer src="https://assets.pinterest.com/js/pinit.js"></script>
</body>

</html>
