{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
<div class='col-sm-8 col-sm-offset-2'>
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-responsive"/>
    {% endif %}
<h1>{{ instance.title }} <small>{{ instance.last_modified }}</small></h1>

{{ instance.content|linebreaks }}<br/>


<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ requst.build_absolute_uri }}'>Google+</a>

<a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>


</div>
{% endblock content %}