{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
    <link rel='stylesheet' type='text/css' href='{% static "css/post_list.css" %}' />
{% endblock style %}

{% block og_properties %}
    <meta property="og:url"              content="https://gimmeth.at/posts" />
    {# Fix the image property. I believe I have to get the absolute uri to the image #}
    <meta property="og:image"            content='' />
{% endblock og_properties %}


{% block content %}
<!-- Under construction. Please disregard the commented code! -->
<header>
    <div class="container-fluid">
        <div class="cover">
            <div class="row">

                {# instead of doing this, look at doing vertical-align as table #}
                <div class="header-spacer"></div> <!-- Need spacer at beginning and end -->

                <div class="row nested-row-fix title-row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <h1 id="header-text">Gimme That</h1>
                    </div>
                    <div class="col-xs-1"></div>
                </div> <!-- title-row -->

                 <div class="row nested-row-fix header-middle-row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6 header-line"> </div>
                    <div class="col-xs-3"></div>
                </div> <!-- header-middle-row -->

                <div class="row nested-row-fix subtext-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <h2 id="cover-subtext">TASTY BITES - ADVENTURES - GRAPHICS</h2>
                    </div>
                    <div class="col-xs-2"></div>
                </div> <!-- subtext-row -->

                <div class="header-space"></div> <!-- Need spacer at beginning and end -->

            </div>
        </div>
    </div>
</header>

{% include "navbar.html" with active="post-list" %}

<!--
<div class="container about-me">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <p>Oh hello! I’m Emily, a foodie, amateur graphic designer, and rock climbing junkie.  You found this blog because: (1) I handed you my business card or (2) I applied to your company. Regardless, thank you for stopping by and taking a looking! <br><br>
 
            There is a plethora of web publishing platforms to choose from, such as the beloved WordPress or Squarespace. All of them offering easy to use templates, enabling the user to hit the ground running. Opting out of those assessable platforms and with a “do it yourself” attitude, this blog was hand crafted from scratch. <br><br>
             
            My boyfriend Howie and I, did not want “just a blog”, but a project we could collaborate on. We sought to step into uncharted territory to try something new. <br><br>
            <i>Gimme That</i> was created to showcase his web development skills, my creative endeavors for UI/UX design, and the adventures we share. <br><br>
             
            Additionally, I love to cook, explore the outdoors with my dogs, and express my eye for design. Please bear with us as this site continuously evolves.
            </p>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
-->

<div class="about-me">
    <h1>About</h1>
    <p>Oh hello! I’m Emily, a foodie, amateur graphic designer, and rock climbing junkie.  You found this blog because: 1) I handed you my business card or 2) I applied to your company. Regardless, thank you for stopping by and taking a looking! <br><br>
 
    There are a plethora of web publishing platforms to choose from, such as WordPress or Squarespace. All of them offer easy to use templates, enabling the user to hit the ground running. Opting out of those accessable platforms and with a DIY attitude, my boyfriend, Howie, and I hand crafted this blog from scratch. <br><br>
             
    Howie and I, did not want “just a blog”, but a project we could collaborate on. We sought to step into uncharted territory and try something new.
    <i>Gimme That</i> was created to showcase his web development skills, my creative endeavors for UI/UX design, and the adventures we share. <br><br>
             
    Additionally, I love to cook, explore the outdoors with my dogs, and express my eye for design. Please bear with us as this site continuously evolves.
    </p>
</div>

<div class="container">
    {% for obj in object_list %}
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                {% if obj.image %}
                <img src="{{ obj.image.url }}" class="img-responsive"/> 
                {% endif %}
                <div class="caption">
                    <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>         <small>{{ obj.date_added | timesince}} ago</small></h3>
                    {% if obj.user.get_full_name %}<p>{{ obj.user.get_full_name}}</p>{% endif %}
                    <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
                    <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                </div>
            </div>
        </div>
        <hr/>
    </div>

    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
            {% endif %}
        </span>
    {# </div> #} <!--col-sm-8 col-sm-offset-2 -->
    </div>
</div>

{% endblock content %}