@import 'partials/color_scheme_vars';
@import 'partials/media_queries';


header {
    color: $pure-white;
    height: 90%;

    * {
        text-align: center;
    }

    .container-fluid {
        height: 100%;
    }
}

#header-text {
    font-family: 'hellenascript';
    font-size: 18vw;
}

.cover {
    height: 100%;

    > .row {
        background-attachment: fixed;
        background-image: url('/static/img/header-master.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}

.header-spacer {
    height: 20%;
}

// Doing the underline with a div below the text
// This should possible be used on the row instead
.header-line {
    border-radius: 2px;
    border-top: 2px $pure-white solid;
    height: 10px;
    margin-top: -4%;

}

#cover-subtext {
    font-family: 'basictitlefont';
    font-size: 3.3vw;
    margin-top: -4%;
}

.about-me {
    * {
        font-family: 'PT Sans', sans-serif;
    }

    h1 {
        color: $dark-grey;
        margin-top: 35px;
        text-align: center;
    }

    p {
        color: $light-grey;
        display: block;
        left: 20%;
        line-height: 1.6em;
        margin-top: 25px;
        position: relative;
        right: 20%;
        width: 60%;
    }
}

legend {
    color: $dark-grey;
    font-family: 'PT Sans', sans-serif;
}

.form-text-fields * {
    color: $dark-grey;
    font-family: 'PT Sans', sans-serif;
}

.center-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-more-section {
    margin-top: 5%;
    padding-top: 5%;
    height: 50px;
    width: 100%;
}

.read-more-button {
    height: 4em;
    width: 4em;

    @include desktop {
        height: 8em;
        width: 8em;
    }
}

.round-button {
    border-radius: 50%;
    border-style: solid;
    border-color: $main-seafoam;
    border-width: 2px;
    // background: $light-grey;
}
