html, body {
    height: 100%;
}
.container-fluid {
    height: 100%;
}
/* Since bootstrap add -15px margin to rows, I need to overwrite
   that functionality when a row is inside a row
*/
.nested-row-fix {
    margin-right: 0px;
    margin-left: 0px;
}
