@font-face {
    font-family: hellenascript;
    src: url("/static/fonts/hellenascript.ttf");
}
@font-face {
    font-family: basictitlefont;
    src: url("/static/fonts/basictitlefont.ttf");
}
header {
    color: #FFFFFF;
    height: 90%;
}
header * {
    text-align: center;
}
#header-text{
    font-family: "hellenascript";
    font-size: 18vw;
}
.cover{
    height: 100%;
}
.cover>.row {
    background-image: url("/static/img/header-master.png");

    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.header-spacer {
    height: 20%;
}

/* Doing the underline with a div below the text 
This should possible be used on the row instead*/
.header-line {
    margin-top: -4%;
    border-top: 2px white solid;
    height: 10px;
    border-radius: 2px;
}

#cover-subtext {
    font-family: "basictitlefont";
    font-size: 3.3vw;
    margin-top: -4%;
}
