{% for obj in object_list %}

{# I need to set the behavior of the last row for each new request #}
{% if obj == object_list|last %}
<div class="row" id="last-post" data-page-number="{{ page_number }}">
{% endif %}
  <div class="col-sm-12">

    <article>
      <div class="thumbnail">
        {% if obj.image %}
        <img src="{{ obj.image.url }}" class="img-responsive"/> 
        {% endif %}
        <div class="caption">
          <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>         <small>{{ obj.date_added | timesince}} ago</small></h3>
          {% if obj.user.get_full_name %}<p>{{ obj.user.get_full_name}}</p>{% endif %}
          <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
          <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
        </div>
      </div>
    </article>

  </div>
  {# If this is the last object in the list, don't print the new line #}
  {% if object_list|last != obj %}
  <hr/>
  {% endif %}
</div>

{% endfor %}
